Common/bin/*
ConsoleApp/bin/*
ConsoleApp/Scripts/*
packages/*
SiteletFsx/bin/*
SiteletFsx/obj/*
ConsoleApp/obj/*
Common/obj/*
.vs/*
SelfHostSitelet/Scripts/*
SelfHostSitelet/bin/*
SelfHostSitelet/obj/*
OwinHost/bin/*
OwinHost/obj/*
